@import url("fonts.css");
@import url("default.css");
@import url("cart.css");
@import url("order.css");

.header {
  padding: 0 46px;
  width: 100%;
  position: absolute;
  top: 24px;
  left: 50%;
  color: #ffffff;
  transform: translateX(-50%);
}

.header__container {
  max-width: 1352px;
  padding: 12px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(108, 185, 171, 0.7);
  backdrop-filter: blur(60px);
}

.header__logo-link {
  font-size: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__cart-link {
  padding: 10px 4px 3px;
  width: 28px;
  height: 28px;
  font-size: 12px;
  color: #64099b;
  background-image: url(../img/bag.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.promo {
  color: #ffffff;
  background-color: rgba(108, 185, 171);
}

.promo__container {
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url(../img/hero_image.png);
  background-position: right 113px bottom 0;
  background-repeat: no-repeat;
}

.promo__title {
  max-width: 788px;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 88px;
  line-height: 1.1;
}

.promo__link {
  padding: 16px 24px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.products {
  padding: 100px 0;
}

.products__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 54px;
  line-height: 1.1;
  color: #64099b;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  min-height: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0;
  color: #1d1c1d;
  background-color: #f2f9f7;
}
.product__image {
  width: 100%;
}
.product__content {
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product__title {
  display: -webkit-box;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product__price {
  margin: 0;
  font-size: 20px;
}

.footer {
  padding: 60px 0;
  background-color: #6cb9ab;
  color: #ffffff;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  gap: 38px;
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer__info {
  font-size: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__socials {
  display: flex;
  gap: 12px;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 42px;
  }
  .header {
    padding: 0 20px;
    top: 20px;
  }
  .header__container {
    padding: 12px 22px;
  }
  .promo__container {
    padding-top: 172px;
    padding-bottom: 60px;
    background-image: url("img/hero_image_1024.png");
    background-position: right 48px bottom 0;
  }
  .promo__title {
    margin-bottom: 40px;
    max-width: 620px;
    font-size: 70px;
  }
  .product {
    min-height: 450px;
  }
  .footer__menu {
    gap: 32px;
  }
}

@media (max-width: 940px) {
  .header__logo {
    width: 78px;
  }
  .header__menu {
    gap: 24px;
  }
  .header__menu-link {
    font-size: 16px;
  }
  .promo__container {
    padding-top: 157px;
    background-position: right bottom;
    background-size: 203px;
  }
  .promo__title {
    max-width: 460px;
    margin-bottom: 40px;
    font-size: 54px;
  }
  .promo__link {
    padding: 12px 18px;
    font-size: 16px;
  }
  .products {
    padding: 80px 0;
  }
  .products__title {
    margin-bottom: 24px;
    font-size: 36px;
  }
  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 16px;
  }
  .product {
    min-height: 360px;
  }
  .product__title {
    font-size: 20px;
  }
  .product__price {
    font-size: 16px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__menu {
    gap: 24px;
  }
  .footer__menu-link {
    font-size: 16px;
  }
  .footer__info {
    font-size: 12px;
  }
  .footer__email {
    margin-bottom: 12px;
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .container {
    padding: 0 16px;
  }
  .header {
    top: 0;
    padding: 0;
  }
  .header__container {
    padding: 8px 16px;
    gap: 16px;
  }
  .header__nav {
    display: none;
  }
  .promo__container {
    min-height: auto;
    padding-top: 90px;
    padding-bottom: 250px;
    background-size: 145px;
    background-position: center bottom;
  }
  .promo__title {
    margin-bottom: 24px;
    max-width: 350px;
    font-size: 40px;
  }
  .promo__link {
    padding: 12px 18px;
    font-size: 16px;
  }
  .products {
    padding: 60px 0;
  }
  .products__title {
    font-size: 36px;
  }
  .products__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .product__image {
    min-height: 226px;
    object-fit: cover;
  }
  .product__content {
    padding: 32px 8px 8px;
  }
  .product__title {
    font-size: 16px;
  }
  .footer__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .footer__info {
    order: 1;
  }
  .footer__copyright {
    margin-top: 0;
    margin-bottom: 17px;
  }
  .footer__description {
    margin-top: 0;
    margin-bottom: 3px;
  }
  .footer__developer {
    margin-bottom: 3px;
  }
  .footer__developer:last-child {
    margin-bottom: 0;
  }
  .footer__menu-link {
    text-decoration: none;
    font-size: 18px;
  }
  .footer__email {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .footer__social {
    display: flex;
    gap: 12px;
  }
}
