@import url("fonts.css");
@import url("default.css");

.header {
  padding: 0 46px;
  width: 100%;
  position: absolute;
  top: 24px;
  left: 50%;
  color: #ffffff;
  transform: translateX(-50%);
}

.header__container {
  max-width: 1392px;
  padding: 12px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(108, 185, 171, 0.7);
  backdrop-filter: blur(60px);
}

.header__logo-link {
  font-size: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__cart-link {
  padding: 10px 4px 3px;
  width: 28px;
  height: 28px;
  font-size: 12px;
  color: #64099b;
  background-image: url(../img/bag.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.promo {
  color: #ffffff;
  background-color: rgba(108, 185, 171);
}

.promo__container {
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url(../img/hero_image.png);
  background-position: right 113px bottom 0;
  background-repeat: no-repeat;
}

.promo__title {
  max-width: 788px;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 88px;
  line-height: 1.1;
}

.promo__link {
  padding: 16px 24px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.products {
  padding: 100px 0;
}

.products__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 54px;
  line-height: 1.1;
  color: #64099b;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  font-size: 0;
  color: #1d1c1d;
  background-color: #f2f9f7;
}
.product__image {
  width: 100%;
}
.product__content {
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product__title {
  display: -webkit-box;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product__price {
  margin: 0;
  font-size: 20px;
}

.footer {
  padding: 60px 0;
  background-color: #6cb9ab;
  color: #ffffff;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  gap: 38px;
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer__info {
  font-size: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__socials {
  display: flex;
  gap: 12px;
}
